# Business Case: 

## Client: 
##### Joe Harrison

## Challenge:
##### Conclude where the client should open the flagship of his pizzeria chain in Pennsylvania. Additionally, provide several menu ideas from popular pizzeria dishes in the community. The restaurant should appeal to mid to high-income groups

In [35]:
import pandas as pd
import requests

In [36]:
df_pizza_outlets = pd.read_csv("https://query.data.world/s/mhrcjeysrxen5zl4jsjqdwo4ybfjo7")

##### The data displays information concerning all the pizzeria outlets in the US, including: ID, address, city, country, latitude, longitude, URL, price range, price maximum, price minimum, name, currency and province.

In [37]:
def live_data(url):
    data = requests.get(url)
    return data

##### Creates function that obtains live data from websites.

In [38]:
df_city_pop = pd.read_html(live_data("https://www.pennsylvania-demographics.com/cities_by_population").text)
df_city_pop = df_city_pop[0]

##### Use the live_data function to read the live population data of cities within Pennsylvania.

In [39]:
df_city_pop

,Rank,City,Population
0,1,Philadelphia,1579075
1,2,Pittsburgh,302205
2,3,Allentown,120915
3,4,Erie,97263
4,5,Reading city,88232
...,...,...,...
2105,2106,Centralia,9
2106,2107,Seven Springs borough,8
2107,2108,East Keating,4
2108,2109,Valley-Hi,2
2109,The table above displays the most recent popul...,The table above displays the most recent popul...,The table above displays the most recent popul...

In [40]:
df_city_pop = df_city_pop[['City','Population']]
df_city_pop.loc[:2108,:]

                       City Population
0              Philadelphia    1579075
1                Pittsburgh     302205
2                 Allentown     120915
3                      Erie      97263
4              Reading city      88232
...                     ...        ...
2104           West Keating         13
2105              Centralia          9
2106  Seven Springs borough          8
2107           East Keating          4
2108              Valley-Hi          2

[2109 rows x 2 columns]

In [41]:
df_pizza_outlets

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,AVz3Y-7h3D1zeR_xDAqm,2017-06-30T05:05:40Z,2019-05-01T15:43:09Z,4203 E Kiehl Ave,"Pizza,Restaurant,American restaurants,Pizza Pl...",Accommodation & Food Services,Sherwood,US,us/ar/sherwood/4203ekiehlave/-1051391616,34.832300,...,USD,"2018-05-01T04:25:37.197Z,2018-04-16T04:36:02.3...",NaN,Cheese Pizza,Shotgun Dans Pizza,72120,USD,0,25,AR
1,AVweGPFF_7pvs4fzAAzQ,2016-04-02T04:02:49Z,2019-05-01T15:27:50Z,25 E Camelback Rd,"Pizza,Pizza Place,Restaurants",Accommodation & Food Services,Phoenix,US,us/az/phoenix/25ecamelbackrd/-727422936,33.509266,...,USD,"2018-03-03T02:38:06.381Z,2018-01-18T20:18:10.0...",NaN,Pizza Cookie,Sauce Pizza Wine,85012,USD,0,25,AZ
2,AVwdRGa9_7pvs4fz4E3K,2016-03-03T18:39:49Z,2019-05-01T12:52:25Z,3703 Paxton Ave,"Restaurant,Pizza Place,Restaurants",Accommodation & Food Services,Cincinnati,US,us/oh/cincinnati/3703paxtonave/-619797122,39.144883,...,USD,"2018-04-10T07:58:34.585Z,2018-04-21T05:43:21.4...",a saucelessampcomma double cheese pizza with a...,Pizza Blanca,Mios Pizzeria,45209,USD,0,25,OH
3,AVwdX4psIN2L1WUfvJB1,2016-03-29T05:08:59Z,2019-05-01T12:52:20Z,30495 John R Rd,"Pizza,Carry-out food,Pizza Place,Restaurants",Accommodation & Food Services,Madison Heights,US,us/mi/madisonheights/30495johnrrd/-874863116,42.516669,...,USD,"2016-10-20T21:50:02Z,2016-03-29T05:08:59Z",NaN,Small Pizza,Hungry Howies Pizza,48071,USD,25,40,MI
4,AVwdaeTtkufWRAb55pSH,2016-03-31T02:34:04Z,2019-05-01T12:50:45Z,3600 Eastern Ave,"Pizza,American restaurants,Pizza Place,Pizza e...",Accommodation & Food Services,Baltimore,US,us/md/baltimore/3600easternave/-1270965359,39.286630,...,USD,2016-03-31T02:34:04Z,NaN,Pizza Sub,Spartan Pizzeria,21224,USD,0,25,MD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,AVwdKXFYByjofQCxmIyZ,2016-03-21T00:12:46Z,2018-01-08T10:25:27Z,1126 E Lovejoy St,Pizza Place,Accommodation & Food Services,Buffalo,US,us/ny/buffalo/1126elovejoyst/1921210585,42.889759,...,USD,"2017-12-11T12:44:00.000Z,2016-03-21T00:13:00.0...",NaN,Super Steak Pizza,Carbone's Pizzeria,14206,USD,0,25,NY
9996,AVwdKXFYByjofQCxmIyZ,2016-03-21T00:12:46Z,2018-01-08T10:25:27Z,1126 E Lovejoy St,Pizza Place,Accommodation & Food Services,Buffalo,US,us/ny/buffalo/1126elovejoyst/1921210585,42.889759,...,USD,2017-12-11T12:44:00.000Z,NaN,Large Cheese & 1 Item Pizza,Carbone's Pizzeria,14206,USD,0,25,NY
9997,AVz6kzsQFcQ3k02bDhwQ,2017-06-30T19:56:11Z,2018-01-07T10:51:29Z,3641 E Main St,"Pizza Place,Restaurants",Accommodation & Food Services,Saint Charles,US,us/il/saintcharles/3641emainst/1336179832,41.921300,...,USD,"2017-12-10T18:55:00.000Z,2017-10-28T21:52:00.000Z",NaN,"Individual 6"" Pepperoni Stuffed Deep Dish Pizza",Giordano's Pizza,60174,USD,0,25,IL
9998,AVz6kzsQFcQ3k02bDhwQ,2017-06-30T19:56:11Z,2018-01-07T10:51:29Z,3641 E Main St,"Pizza Place,Restaurants",Accommodation & Food Services,Saint Charles,US,us/il/saintcharles/3641emainst/1336179832,41.921300,...,USD,"2017-12-10T18:55:00.000Z,2017-10-28T21:52:00.000Z",NaN,"Individual 6"" Cheese Stuffed Deep Dish Pizza",Giordano's Pizza,60174,USD,0,25,IL
9999,AVwdG9zTkufWRAb52Y2A,2015-10-23T01:57:27Z,2018-01-04T17:57:59Z,7460 W Lake Mead Blvd,"Pizza Place,Restaurant,Fast Food,Pizza",Accommodation & Food Services,Las Vegas,US,us/nv/lasvegas/7460wlakemeadblvd/330000776,36.196180,...,USD,"2017-12-08T19:07:00.000Z,2017-10-28T22:35:00.000Z",NaN,King Arthur's Supreme Pizza,Round Table Pizza,89128,USD,0,25,NV

In [42]:
df_pizza_outlets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  10000 non-null  object
 1   dateAdded           10000 non-null  object
 2   dateUpdated         10000 non-null  object
 3   address             10000 non-null  object
 4   categories          10000 non-null  object
 5   primaryCategories   10000 non-null  object
 6   city                10000 non-null  object
 7   country             10000 non-null  object
 8   keys                10000 non-null  object
 9   latitude            10000 non-null  float64
 10  longitude           10000 non-null  float64
 11  menuPageURL         1679 non-null   object
 12  menus.amountMax     10000 non-null  float64
 13  menus.amountMin     10000 non-null  float64
 14  menus.currency      10000 non-null  object
 15  menus.dateSeen      10000 non-null  object
 16  menus.description   3718 non-null   object
 17  menus.name          10000 non-null  object
 18  name                10000 non-null  object
 19  postalCode          9996 non-null   object
 20  priceRangeCurrency  10000 non-null  object
 21  priceRangeMin       10000 non-null  int64
 22  priceRangeMax       10000 non-null  int64
 23  province            10000 non-null  object
dtypes: float64(4), int64(2), object(18)
memory usage: 1.8+ MB

In [43]:
df_pizza_outlets = df_pizza_outlets[df_pizza_outlets.province == "PA"]
df_pizza_outlets

,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,latitude,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
19,AVwdfIbIByjofQCxplnX,2016-06-14T02:11:51Z,2019-05-01T12:27:25Z,4111 Main St,"Pizza,American restaurants,Pizza Place,Restaur...",Accommodation & Food Services,Philadelphia,US,us/pa/philadelphia/4111mainst/-404553877,40.022413,...,USD,"2018-02-26T21:30:21.003Z,2018-01-26T23:22:46.3...",NaN,Pizza Fries,Mikes Pizza,19127,USD,0,25,PA
68,AWESAELwa4HuVbedMwTP,2018-01-20T05:17:24Z,2019-04-30T15:28:51Z,1250 Gen. Washington Blvd.,"Italian Restaurant,Pizza Place",Accommodation & Food Services,Washington Crossing,US,us/pa/washingtoncrossing/1250gen.washingtonblv...,40.292365,...,USD,"2018-01-22T10:43:36.306Z,2018-04-02T01:13:11.700Z",NaN,Nick's Specialty Pizza,Dominicks Pizzeria Italian Restaurant,18977,USD,0,25,PA
69,AWESAELwa4HuVbedMwTP,2018-01-20T05:17:24Z,2019-04-30T15:28:51Z,1250 Gen. Washington Blvd.,"Italian Restaurant,Pizza Place",Accommodation & Food Services,Washington Crossing,US,us/pa/washingtoncrossing/1250gen.washingtonblv...,40.292365,...,USD,"2018-01-22T10:43:36.306Z,2018-04-02T01:13:11.700Z",NaN,Buffalo Wing Pizza,Dominicks Pizzeria Italian Restaurant,18977,USD,0,25,PA
74,AVzBAZ_fLD2H7whiWJVU,2017-06-19T15:38:48Z,2019-04-30T15:26:50Z,1237 Greeley Ave,"American Restaurant,Pizza Place",Accommodation & Food Services,Warminster,US,us/pa/warminster/1237greeleyave/-1002138912,40.213458,...,USD,"2017-12-20T11:58:00.000Z,2018-01-26T20:12:58.5...",NaN,Gluten Free Tomato Pie Or Cheese Pizza,Tonys Place Bar and Grille,18974,USD,25,40,PA
75,AVzBAZ_fLD2H7whiWJVU,2017-06-19T15:38:48Z,2019-04-30T15:26:50Z,1237 Greeley Ave,"American Restaurant,Pizza Place",Accommodation & Food Services,Warminster,US,us/pa/warminster/1237greeleyave/-1002138912,40.213458,...,USD,"2017-12-20T11:58:00.000Z,2018-01-26T20:12:58.6...",NaN,Tony's Cheese Pizza,Tonys Place Bar and Grille,18974,USD,25,40,PA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9915,AVwczH3fIN2L1WUfpA5_,2016-03-31T02:41:14Z,2018-01-24T05:39:15Z,824 Main St,"Pizza Place,Bar,Pizza Place and Bar",Accommodation & Food Services,Pennsburg,US,us/pa/pennsburg/824mainst/615487670,40.390265,...,USD,"2018-01-22T19:38:17.284Z,2017-12-21T04:54:43.8...",NaN,Buffalo Chicken Pizza,Tosco's Pizza and Restaurant,18073,USD,0,25,PA
9916,AVwczH3fIN2L1WUfpA5_,2016-03-31T02:41:14Z,2018-01-24T05:39:15Z,824 Main St,"Pizza Place,Bar,Pizza Place and Bar",Accommodation & Food Services,Pennsburg,US,us/pa/pennsburg/824mainst/615487670,40.390265,...,USD,"2018-01-22T19:38:17.285Z,2017-12-21T04:54:43.8...",NaN,Stuffed Pizza,Tosco's Pizza and Restaurant,18073,USD,0,25,PA
9954,AVwdhHzjkufWRAb56rCx,2015-10-22T19:25:43Z,2018-01-23T23:08:17Z,301 S Blakely St,"Pizza Place,Restaurants",Accommodation & Food Services,Scranton,US,us/pa/scranton/301sblakelyst/-569631921,41.419300,...,USD,2016-04-08T09:28:16Z,"Ground beef, crispy bacon, and american cheese...",Bacon Cheeseburger Pizza,Grande Pizza,18512,USD,0,25,PA
9955,AVwdhHzjkufWRAb56rCx,2015-10-22T19:25:43Z,2018-01-23T23:08:17Z,301 S Blakely St,"Pizza Place,Restaurants",Accommodation & Food Services,Scranton,US,us/pa/scranton/301sblakelyst/-569631921,41.419300,...,USD,2016-04-08T09:28:16Z,NaN,Philly Cheese Steak Pizza,Grande Pizza,18512,USD,0,25,PA
9956,AVwdhHzjkufWRAb56rCx,2015-10-22T19:25:43Z,2018-01-23T23:08:17Z,301 S Blakely St,"Pizza Place,Restaurants",Accommodation & Food Services,Scranton,US,us/pa/scranton/301sblakelyst/-569631921,41.419300,...,USD,2016-04-08T09:28:16Z,NaN,Hot Wing Pizza,Grande Pizza,18512,USD,0,25,PA

##### Filtering dataset to only contain pizzerias within Pennsylvania

In [44]:
#df_pizza_outlets = df_pizza_outlets[["address"]]
df_pizza_outlets["menus.amountMax"]

19       4.50
68      17.00
69      21.00
74      12.99
75       9.25
        ...
9915    14.49
9916    18.79
9954    14.75
9955    14.75
9956    12.75
Name: menus.amountMax, Length: 814, dtype: float64

In [45]:
df_pizza_outlets["priceRangeMax"]

19      25
68      25
69      25
74      40
75      40
        ..
9915    25
9916    25
9954    25
9955    25
9956    25
Name: priceRangeMax, Length: 814, dtype: int64

In [46]:
df_pizza_outlets.reset_index(inplace=True)
df_pizza_outlets

,index,id,dateAdded,dateUpdated,address,categories,primaryCategories,city,country,keys,...,menus.currency,menus.dateSeen,menus.description,menus.name,name,postalCode,priceRangeCurrency,priceRangeMin,priceRangeMax,province
0,19,AVwdfIbIByjofQCxplnX,2016-06-14T02:11:51Z,2019-05-01T12:27:25Z,4111 Main St,"Pizza,American restaurants,Pizza Place,Restaur...",Accommodation & Food Services,Philadelphia,US,us/pa/philadelphia/4111mainst/-404553877,...,USD,"2018-02-26T21:30:21.003Z,2018-01-26T23:22:46.3...",NaN,Pizza Fries,Mikes Pizza,19127,USD,0,25,PA
1,68,AWESAELwa4HuVbedMwTP,2018-01-20T05:17:24Z,2019-04-30T15:28:51Z,1250 Gen. Washington Blvd.,"Italian Restaurant,Pizza Place",Accommodation & Food Services,Washington Crossing,US,us/pa/washingtoncrossing/1250gen.washingtonblv...,...,USD,"2018-01-22T10:43:36.306Z,2018-04-02T01:13:11.700Z",NaN,Nick's Specialty Pizza,Dominicks Pizzeria Italian Restaurant,18977,USD,0,25,PA
2,69,AWESAELwa4HuVbedMwTP,2018-01-20T05:17:24Z,2019-04-30T15:28:51Z,1250 Gen. Washington Blvd.,"Italian Restaurant,Pizza Place",Accommodation & Food Services,Washington Crossing,US,us/pa/washingtoncrossing/1250gen.washingtonblv...,...,USD,"2018-01-22T10:43:36.306Z,2018-04-02T01:13:11.700Z",NaN,Buffalo Wing Pizza,Dominicks Pizzeria Italian Restaurant,18977,USD,0,25,PA
3,74,AVzBAZ_fLD2H7whiWJVU,2017-06-19T15:38:48Z,2019-04-30T15:26:50Z,1237 Greeley Ave,"American Restaurant,Pizza Place",Accommodation & Food Services,Warminster,US,us/pa/warminster/1237greeleyave/-1002138912,...,USD,"2017-12-20T11:58:00.000Z,2018-01-26T20:12:58.5...",NaN,Gluten Free Tomato Pie Or Cheese Pizza,Tonys Place Bar and Grille,18974,USD,25,40,PA
4,75,AVzBAZ_fLD2H7whiWJVU,2017-06-19T15:38:48Z,2019-04-30T15:26:50Z,1237 Greeley Ave,"American Restaurant,Pizza Place",Accommodation & Food Services,Warminster,US,us/pa/warminster/1237greeleyave/-1002138912,...,USD,"2017-12-20T11:58:00.000Z,2018-01-26T20:12:58.6...",NaN,Tony's Cheese Pizza,Tonys Place Bar and Grille,18974,USD,25,40,PA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,9915,AVwczH3fIN2L1WUfpA5_,2016-03-31T02:41:14Z,2018-01-24T05:39:15Z,824 Main St,"Pizza Place,Bar,Pizza Place and Bar",Accommodation & Food Services,Pennsburg,US,us/pa/pennsburg/824mainst/615487670,...,USD,"2018-01-22T19:38:17.284Z,2017-12-21T04:54:43.8...",NaN,Buffalo Chicken Pizza,Tosco's Pizza and Restaurant,18073,USD,0,25,PA
810,9916,AVwczH3fIN2L1WUfpA5_,2016-03-31T02:41:14Z,2018-01-24T05:39:15Z,824 Main St,"Pizza Place,Bar,Pizza Place and Bar",Accommodation & Food Services,Pennsburg,US,us/pa/pennsburg/824mainst/615487670,...,USD,"2018-01-22T19:38:17.285Z,2017-12-21T04:54:43.8...",NaN,Stuffed Pizza,Tosco's Pizza and Restaurant,18073,USD,0,25,PA
811,9954,AVwdhHzjkufWRAb56rCx,2015-10-22T19:25:43Z,2018-01-23T23:08:17Z,301 S Blakely St,"Pizza Place,Restaurants",Accommodation & Food Services,Scranton,US,us/pa/scranton/301sblakelyst/-569631921,...,USD,2016-04-08T09:28:16Z,"Ground beef, crispy bacon, and american cheese...",Bacon Cheeseburger Pizza,Grande Pizza,18512,USD,0,25,PA
812,9955,AVwdhHzjkufWRAb56rCx,2015-10-22T19:25:43Z,2018-01-23T23:08:17Z,301 S Blakely St,"Pizza Place,Restaurants",Accommodation & Food Services,Scranton,US,us/pa/scranton/301sblakelyst/-569631921,...,USD,2016-04-08T09:28:16Z,NaN,Philly Cheese Steak Pizza,Grande Pizza,18512,USD,0,25,PA
813,9956,AVwdhHzjkufWRAb56rCx,2015-10-22T19:25:43Z,2018-01-23T23:08:17Z,301 S Blakely St,"Pizza Place,Restaurants",Accommodation & Food Services,Scranton,US,us/pa/scranton/301sblakelyst/-569631921,...,USD,2016-04-08T09:28:16Z,NaN,Hot Wing Pizza,Grande Pizza,18512,USD,0,25,PA

In [47]:
df_pizza_outlets = df_pizza_outlets[["address","categories","city","menus.name","name","menus.amountMax","menus.amountMin"]]
df_pizza_outlets

,address,categories,city,menus.name,name,menus.amountMax,menus.amountMin
0,4111 Main St,"Pizza,American restaurants,Pizza Place,Restaur...",Philadelphia,Pizza Fries,Mikes Pizza,4.50,4.50
1,1250 Gen. Washington Blvd.,"Italian Restaurant,Pizza Place",Washington Crossing,Nick's Specialty Pizza,Dominicks Pizzeria Italian Restaurant,17.00,17.00
2,1250 Gen. Washington Blvd.,"Italian Restaurant,Pizza Place",Washington Crossing,Buffalo Wing Pizza,Dominicks Pizzeria Italian Restaurant,21.00,21.00
3,1237 Greeley Ave,"American Restaurant,Pizza Place",Warminster,Gluten Free Tomato Pie Or Cheese Pizza,Tonys Place Bar and Grille,12.99,12.99
4,1237 Greeley Ave,"American Restaurant,Pizza Place",Warminster,Tony's Cheese Pizza,Tonys Place Bar and Grille,9.25,9.25
...,...,...,...,...,...,...,...
809,824 Main St,"Pizza Place,Bar,Pizza Place and Bar",Pennsburg,Buffalo Chicken Pizza,Tosco's Pizza and Restaurant,14.49,14.49
810,824 Main St,"Pizza Place,Bar,Pizza Place and Bar",Pennsburg,Stuffed Pizza,Tosco's Pizza and Restaurant,18.79,18.79
811,301 S Blakely St,"Pizza Place,Restaurants",Scranton,Bacon Cheeseburger Pizza,Grande Pizza,14.75,14.75
812,301 S Blakely St,"Pizza Place,Restaurants",Scranton,Philly Cheese Steak Pizza,Grande Pizza,14.75,14.75
813,301 S Blakely St,"Pizza Place,Restaurants",Scranton,Hot Wing Pizza,Grande Pizza,12.75,12.75

##### Only keeping the necessary columns that are required for the challenge:
##### address, categories, city, menus.description, menus.name, name, menus.amountMax, menus.amountMin

In [48]:
df_pizza_outlets_city = df_pizza_outlets[["city","name","menus.amountMax","menus.amountMin","menus.name"]]

In [49]:
df_pizza_outlets_city = df_pizza_outlets.groupby(by='city')[['name']].nunique()
df_pizza_outlets_city.reset_index(inplace=True)
df_pizza_outlets_city.sort_values(by = 'name',ascending = False)

               city  name
72     Philadelphia    35
74       Pittsburgh    15
39       Harrisburg     6
80         Scranton     4
44            Irwin     4
..              ...   ...
34  Fort Washington     1
32            Exton     1
31             Erie     1
30            Enola     1
95             York     1

[96 rows x 2 columns]

##### name now shows the amount of pizzerias in a city within Pennsylvania

In [50]:
df_city_pop.rename(columns = {"City":"city"},inplace=True)
df_city_pop

C:\Users\Joshua Killa\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,city,Population
0,Philadelphia,1579075
1,Pittsburgh,302205
2,Allentown,120915
3,Erie,97263
4,Reading city,88232
...,...,...
2105,Centralia,9
2106,Seven Springs borough,8
2107,East Keating,4
2108,Valley-Hi,2
2109,The table above displays the most recent popul...,The table above displays the most recent popul...

In [51]:
merged_df = pd.merge(df_pizza_outlets_city,df_city_pop,how="left",on='city')

##### Renaming city columns to have the same name, to merge the datasets so that population data is available on the pizzeria dataset

In [52]:
merged_df.sort_values(by = 'name',ascending = False)

               city  name Population
72     Philadelphia    35    1579075
74       Pittsburgh    15     302205
39       Harrisburg     6      49209
80         Scranton     4      77054
44            Irwin     4       1256
..              ...   ...        ...
34  Fort Washington     1        NaN
32            Exton     1        NaN
31             Erie     1      97263
30            Enola     1        NaN
95             York     1      44022

[96 rows x 3 columns]

##### By sorting name It will show the cities with the greatest amount of pizzerias and also show  their population's size

In [53]:
merged_df["Population"].fillna(1,inplace=True)

In [54]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 95
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        96 non-null     object
 1   name        96 non-null     int64
 2   Population  96 non-null     object
dtypes: int64(1), object(2)
memory usage: 3.0+ KB

In [55]:
merged_df['Population'] = merged_df.apply(lambda x: int(x["Population"]),axis=1)

In [56]:
merged_df['Pizzeria_density'] = merged_df.apply(lambda x: x["Population"]/x["name"],axis=1)
merged_df

            city  name  Population  Pizzeria_density
0       Abington     1       55459           55459.0
1      Allentown     1      120915          120915.0
2   Allison Park     1           1               1.0
3        Altoona     1       43987           43987.0
4         Ambler     2        6489            3244.5
..           ...   ...         ...               ...
91  West Chester     2       20034           10017.0
92       Wexford     1           1               1.0
93  Willow Grove     1           1               1.0
94       Wyncote     1           1               1.0
95          York     1       44022           44022.0

[96 rows x 4 columns]

##### Works out the amount of people per pizzeria in each country. This can be used to determine in which cities are pizzerias the most popular or where there are sparsely located, which could potentially mean less competition.

In [57]:
merged_df.sort_values(by = 'Pizzeria_density',ascending = False)

              city  name  Population  Pizzeria_density
1        Allentown     1      120915     120915.000000
31            Erie     1       97263      97263.000000
0         Abington     1       55459      55459.000000
72    Philadelphia    35     1579075      45116.428571
95            York     1       44022      44022.000000
..             ...   ...         ...               ...
33  Fairless Hills     2           1          0.500000
28     Drexel Hill     2           1          0.500000
13        Broomall     2           1          0.500000
48       Lancaster     2           1          0.500000
36        Glenside     3           1          0.333333

[96 rows x 4 columns]

In [58]:
merged_df.nlargest(15,["Pizzeria_density"])

            city  name  Population  Pizzeria_density
1      Allentown     1      120915     120915.000000
31          Erie     1       97263      97263.000000
0       Abington     1       55459      55459.000000
72  Philadelphia    35     1579075      45116.428571
95          York     1       44022      44022.000000
3        Altoona     1       43987      43987.000000
67   Northampton     1       39263      39263.000000
86    Warminster     1       32489      32489.000000
9       Bensalem     2       60428      30214.000000
29        Easton     1       27122      27122.000000
87    Warrington     1       24256      24256.000000
74    Pittsburgh    15      302205      20147.000000
80      Scranton     4       77054      19263.500000
16      Carlisle     1       19153      19153.000000
65    Norristown     2       34443      17221.500000

In [59]:
shortlist_df = merged_df[merged_df["city"].isin(['Philadelphia','Pittsburgh','Scranton'])]
shortlist_df

            city  name  Population  Pizzeria_density
72  Philadelphia    35     1579075      45116.428571
74    Pittsburgh    15      302205      20147.000000
80      Scranton     4       77054      19263.500000

##### The shortlist is the potential cities that the pizzeria may be located in, as the areas in Pennsylvania are being narrowed down.

In [60]:
shortlist_df['GDP'] = [444148,152840,37588]
shortlist_df

<ipython-input-60-428408e1df2f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shortlist_df['GDP'] = [444148,152840,37588]

            city  name  Population  Pizzeria_density     GDP
72  Philadelphia    35     1579075      45116.428571  444148
74    Pittsburgh    15      302205      20147.000000  152840
80      Scranton     4       77054      19263.500000   37588

##### Creates another column allowing us to compare the GDP of the three cities as well as their population and 'pizzeria density.' GDP was a useful variable to consider as the pizzeria will be placed in  an area to target mid to high-income groups.

##### Philadelphia is chosen to be the suitable city for the pizzeria due to having the highest population, pizzeria density and GDP. Additionally after using the longitude and latitude provided by the original dataset, it was concluded that it was in a more suitable geographical location, as it is next to a chanel and on the border between New Jersey and Pensylvannia so it is more likely to receive people passing between, and tourists unlike the other two landlocked cities.

In [ ]:
popular_food = df_pizza_outlets['menus.name'].value_counts()
popular_food[popular_food>=8]

##### Worked out the sum of every mentioned meal item to decipher which are most popular

In [64]:
menu_items = df_pizza_outlets[["menus.name","menus.amountMax"]].groupby(by="menus.name").agg(["count","max"])
menu_items.reset_index(inplace=True)
menu_items

                                            menus.name menus.amountMax
                                                                 count    max
0    1 16ampquot Pizzaampcomma 20 Buffalo Wingsampc...               1  20.95
1          1 Large 1Topping Pizza and 12 Wings Special               1  21.95
2           1 Large Cheese Pizza and A Pitcher of Soda               1  13.99
3    1 Large Pizzaampcomma 18 Wingsampcomma 2 Small...               1  20.99
4    1 Large Plain Cheese Pizza and 10 Piece Wings ...               1  18.50
..                                                 ...             ...    ...
423                               White Sicilian Pizza               1  14.89
424                                 White Tomato Pizza               1   5.99
425  White with Grilled Chicken Broccoli Ricotta Ch...               1   9.95
426                         Whole Wheat Tortilla Pizza               1   8.99
427                             Zeppoli (Pizza Fritta)               1   6.99

[428 rows x 3 columns]

In [66]:
menu_items.columns = menu_items.columns.droplevel()

In [73]:
menu_items.sort_values(by="count",ascending=False,inplace=True)
menu_items.head(60)

                                          count    max
294                          Pizza Steak     36  21.99
275                          Pizza Fries     36   6.00
417                          White Pizza     31  19.75
264                         Pizza Burger     30   8.99
68                 Buffalo Chicken Pizza     23  18.75
162                       Hawaiian Pizza     21  17.49
83                          Cheese Pizza     16  27.90
376                           Taco Pizza     12  18.00
257                                Pizza     12  14.75
331                       Sicilian Pizza     12  17.00
199                     Margherita Pizza     11  19.99
57                     Bbq Chicken Pizza      8  28.59
405                     Vegetarian Pizza      6  17.00
269                   Pizza By The Slice      5   3.50
262                          Pizza Bread      5   3.99
408                         Veggie Pizza      5  16.90
114                  Chicken Pizza Steak      5   7.50
254                           Pita Pizza      5  10.00
47                     BBQ Chicken Pizza      5  15.50
64                      Bruschetta Pizza      5  17.49
118               Chicken Teriyaki Pizza      4  16.50
370                        Stuffed Pizza      4  21.00
157        Grilled Chicken Spinach Pizza      4  16.50
152                          Greek Pizza      4  16.00
113                        Chicken Pizza      4  17.00
364                          Steak Pizza      4  17.00
402                      Vegetable Pizza      4  13.99
270                   Pizza By the Slice      4   2.25
203                    Meat Lovers Pizza      3  18.50
100            Chicken Bacon Ranch Pizza      3  14.99
159                           Gyro Pizza      3  14.50
89                     Cheesesteak Pizza      3  29.59
219                           Mini Pizza      3   6.99
353                        Special Pizza      3  17.99
168  Honey Mustard Grilled Chicken Pizza      3  15.95
97                   Chicago Works Pizza      3  18.00
111             Chicken Parmigiana Pizza      3  17.50
308                      Primavera Pizza      3  18.00
419                    White Pizza Large      3  14.95
303                     Pizza with Penne      3  13.25
202                   Meat Lover's Pizza      3  13.99
243                Pepperoni Pizza Fries      3   5.75
26                2 Medium Cheese Pizzas      3  17.49
156                Grilled Chicken Pizza      3  15.50
50              Bacon Cheeseburger Pizza      3  16.00
212                  Medium Cheese Pizza      3   9.00
302              Pizza with French Fries      2  13.25
245                Pepperoni Pizza Steak      2   6.25
139                 Fiery Hawaiian Pizza      2  14.99
414                 White Broccoli Pizza      2  14.00
251            Philly Cheese Steak Pizza      2  17.99
228                       New Taco Pizza      2  13.50
394              Traditional Round Pizza      2   6.49
321                          Rossa Pizza      2  13.00
56                Barbeque Chicken Pizza      2  14.00
142          Forbes Field Original Pizza      2  10.75
407                  Veggie Lovers Pizza      2  10.75
215            Memphis BBQ Chicken Pizza      2  14.99
19                 2 Large Cheese Pizzas      2  19.99
412                          Vodka Pizza      2  14.50

### Menu choices


##### Sensibly chosen pizza types: White pizza, hawaiian pizza, Cheese/margherita pizza, Sicilian Pizza, veggie pizza, pepperoni, chicken pizza
##### The above dishes are popular within the Pennsylvanian community as they appear the most frequent however, they are the most sensible options among these as they are suited to the class and theme of the restaurant

##### side dishes: fries; This side dish is more common than many main dishes.